{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "version": "detect"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["unused-imports", "@typescript-eslint"],
  "globals": {
    "cy": "readonly",
    "Cypress": "readonly",
    "InferenceDocument": "readonly",
    "TrainingInterface": "readonly"
  },
  "env": {
    "es2021": true,
    "browser": true,
    "node": true,
    "jest": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "unused-imports/no-unused-vars": "error",
    "unused-imports/no-unused-imports": "error",
    "react/prop-types": "off",
    "no-redeclare": "off",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-non-null-asserted-optional-chain": "warn",
    "@typescript-eslint/no-empty-function": "warn"
  }
}
